<p id="notice"><%= notice %></p>

<h1 align="center">Listing all producta</h1>

<div align="center">
    <%= will_paginate %>
</div>

<%= render 'firm', obj: @firms %>
<div align="center">
    <%= will_paginate %>
</div>

<div class="col-xs-offset-4 col-xs-4">
    <%= link_to 'New Firm', new_firm_path %> 
</div>


